* {
  box-sizing: border-box;
  margin: 0;
}

.hero-body {
  padding: 0;
}

.driver-listing-qualify {
  border: 2px dashed pink;
}

.driver-listing-finish {
  border: 2px dashed green;
}

.container.brand {
  text-align: center;
}

.race-selection {
  margin-bottom: 3vh;
  text-align: center;
}

.race-selectiontab {
  text-align: center;
}
