* {
  box-sizing: border-box;
  margin: 0;
}

.hero-body {
  padding: 0;
  text-align: center;
}

.titles {
  margin-top: 1.7vh;
}

.qualify-title {
  /*margin: 0 1.5vw;*/
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  font-variant-caps: petite-caps;
  color: #666;
  padding: 0;
  background-color: #eee;
}

.finish-title {
  margin-left: 1.5vw;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  font-variant-caps: petite-caps;
  color: #666;
  padding: 0;
  background-color: #eee;
}

.driver-listing-qualify {
  /*margin: 0 1.5vw;*/
  padding: 0;
}

.driver-listing-finish {
  margin: 0 1.5vw;
  padding: 0;
}

.container.brand {
  text-align: center;
  margin: 0 auto;
}

#f1ormula-brand {
  height: 6vh;
  margin-top: 2vh;
}

.race-selection {
  text-align: center;
  height: 2vh;
}

.race-selectiontab {
  margin-top: 2vh;
  text-align: center;
}

.driver-display {
  margin-top: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

#qualify-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  font-style: italic;
  font-variant-caps: petite-caps;
  color: #ba0001;
}

#finish-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  font-style: italic;
  font-variant-caps: petite-caps;
  color: #ba0001;
}

#position {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  font-style: italic;
  font-variant-caps: petite-caps;
  margin-left: 0.5vw;
}

#driver-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.circuit-image {
  margin: 0 auto;
  text-align: center;
  padding-left: 1.5vw;
}

#start-position,
#points,
#fastest-lap-kph,
#nationality,
#Q1,
#Q3 {
  background-color: #f7f7f7;
}

/*carousel*/
#my-carousel {
  margin-top: 60px;
}

.carousel-position {
  background: top center no-repeat;
}

#carousel-tag {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
}

#carousel-tag > a {
  margin: 5px 3px;
  color: #333;
  font-size: 14px;
}

#carousel-tag > a:hover {
  text-decoration: none;
  color: #83fe00;
}

#slide1:hover,
#slide2:hover,
#slide3:hover {
  cursor: pointer;
}

@media (min-width: 481px) {
  #my-carousel .item {
    height: 310px;
  }

  #slide1 {
    background: url('images/carousel/carousel_small_01_AUS.png');
  }

  #slide2 {
    background: url('images/carousel/carousel_small_01_CHINA.png');
  }

  #slide3 {
    background: url('images/carousel/carousel_small_01_BAHRAIN.png');
  }

  #slide4 {
    background: url('images/carousel/carousel_small_01_RUSSIA.png');
  }
  #slide5 {
    background: url('images/carousel/carousel_small_01_SPAIN.png');
  }

  #my-carousel {
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  #my-carousel .item {
    height: 400px;
  }

  #slide1 {
    background: url('images/carousel/carousel_medium_01_AUS.png');
  }

  #slide2 {
    background: url('images/carousel/carousel_medium_01_CHINA.png');
  }

  #slide3 {
    background: url('images/carousel/carousel_medium_01_BAHRAIN.png');
  }

  #slide4 {
    background: url('images/carousel/carousel_medium_01_RUSSIA.png');
  }
  #slide5 {
    background: url('images/carousel/carousel_medium_01_SPAIN.png');

  }

  @media (min-width: 1200px) {
    #my-carousel .item {
      height: 500px;
    }

    #slide1 {
      background: url('images/carousel/carousel_large_01_AUS.png');
    }

    #slide2 {
      background: url('images/carousel/carousel_large_01_CHINA.png');
    }

    #slide3 {
      background: url('images/carousel/carousel_large_01_BAHRAIN.png');
    }

    #slide4 {
      background: url('images/carousel/carousel_large_01_RUSSIA.png');
    }

  }
  #slide5 {
    background: url('images/carousel/carousel_large_01_SPAIN.png');
  }
